<h2>Books search for '<%= content %>'</h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <% datas.each do |book| %>
    <tbody>
      <tr>
        <th>
          <%= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg" ) %>
        </th>
        <th>
          <%= book.title %>
        </th>
        <th>
          <%= book.body %>
        </th>
      </tr>
    <% end %>
    </tbody>
  </table>